---
import Footer from "@/layouts/Footer.astro";
import Header from "@/layouts/Header.astro";
import "@/styles/main.scss";
import config from "@/config/config.json";

interface Props {
  title: string;
}
const GTAG = import.meta.env.GTAG_ID
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={config.site.description} />
    <meta name="viewport" content="width=device-width" />
    <!-- Google tag (gtag.js) -->
    <script async src={"https://www.googletagmanager.com/gtag/js?id="+GTAG}></script>
    <script type="text/javascript" define:vars={{GTAG}}>
      // Pasamos la variable GTAG_ID al navegador como una variable global
      console.log(GTAG);
      window.GTAG_ID = GTAG;
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', window.GTAG_ID);
    </script>
	<meta name="theme-color" content="#202125">
    <!-- responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <link rel="icon" type="image/svg+xml" href={config.site.favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={config.site.description} />
    <script src="../../node_modules/preline/dist/preline.js"/>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
